<!DOCTYPE html>
<html>
	<head>
		<title>D4 Item Generator</title>
		<link rel="stylesheet" href="static/styles.css">
	</head>
<body>

{% for item in items %}
<div class="floating-box">
	{{ item.name }}<br>
	{{ item.tier }} {{ item.type }}<br>
	<hr>
	{% for stat in item.stats %}
	{{ stat }}<br>
	{% endfor %}
	<hr>
	{% for affix in item.affixes %}
	{{ affix }}<br>
	{% endfor %}
	{% for socket in item.sockets %}
	{{ socket }}<br>
	{% endfor %}
</div>
{% endfor %}

</body>
</html>